body {
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 98%);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 60px auto;
  text-align: center;
}

.hero h2 {
  color: gray;
  font-weight: 400;
}

.hero h1 {
  font-weight: bold;
  margin-bottom: 10px;
}

.hero p {
  color: hsl(229, 6%, 66%);
  margin-bottom: 60px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.card img {
  margin-top: 20px;
}


.supervisor {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  border-top: 5px solid hsl(180, 62%, 55%);
}

.team-builder {
  grid-column: 2 / 3;
  border-top: 5px solid hsl(0, 78%, 62%);
}

.karma {
  grid-column: 2 / 3;
  border-top: 5px solid hsl(34, 97%, 64%);
}

.calculator {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  border-top: 5px solid hsl(212, 86%, 64%);
}
